<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="RESTOTM"
          Manufacturer="RESTOTM"
          Version="$(var.ProductVersion)"
          UpgradeCode="B22530CE-96E8-4298-A18D-559A53E91909"
          Compressed="yes">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense"
                                                LicenseUrl=""
                                                ShowVersion="yes"
                                                SuppressOptionsUI="yes" />
    </BootstrapperApplication>
    <Chain>
      <MsiPackage Id="RestOtmRuntimeMsi"
                  SourceFile="$(var.MsiPath)"
                  Compressed="yes"
                  Vital="yes"
                  Visible="no" />
    </Chain>
  </Bundle>
</Wix>
